@model SuperDamp.Models.modelAdaptor

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:aqua;font-weight:bold;">CheckOut</h1>
@{ int total = 0;
    <h3>Your Order Details</h3>
    using (Html.BeginForm("Confirm", "Cart"))
    {
        <table class="table">
            @foreach (var item in Model.carts)
            {
                total += @item.product.Price * item.quantity;
                <tr>
                    <th>
                        <img src=@Html.DisplayFor(imgURL => item.product.imageURL) width="90px" height="90px" />
                        @Html.DisplayFor(name => item.product.Name)
                    </th>
                    <td>
                        $@Html.DisplayFor(price => item.product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(quantity => item.quantity)
                    </td>
                </tr>
            }
        </table>
        <h2>Amount: $@total</h2>


        <br />
        <br />
        <h3>Shippment Information</h3>
        if (Model.userInfos.Count() > 0)
        {
            <select class="form-control" name="userInfoSelect">
                @foreach (var item in Model.userInfos)
                {
                    <option>@item.address, @item.province, @item.firstName, @item.mobilePhone</option>
                }

            </select>
        }
        <br />
        <a href="@Url.Action("createShipInfo", "Cart")">Add a new Shippment Information</a>
        <br/>
        <h3>Payment Information</h3>
        if (Model.paymentInfos.Count() > 0)
        {
            <select class="form-control" name="paymentInfo">
            @foreach (var item in Model.paymentInfos)
            {
                <option>@item.cardNo</option>
            }
            </select>
        }
        <br/><a href="@Url.Action("createPaymentInfo", "Cart")">Add a new Payment Information</a><br/><br/>
        <button type="submit" style="background-color:aqua">Confirm</button>
    }
}
<br/><button style="background-color:aqua" onclick="location.href='@Url.Action("Index","Cart")'">Cancle</button>
@if (ViewBag.checkout != null)
{
    <span style="color:red">@ViewBag.checkout</span>
}

