@model SuperDamp.Models.modelAdaptor

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">Get in touch with us !</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="text-danger container contact-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.message.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(Model => Model.message.Name, new
                             {
                                 htmlAttributes = new { @class = "form-control", @placeholder = "Your Name *" }
                             })
                    @Html.ValidationMessageFor(model => model.message.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.message.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(Model => Model.message.Email, new
                             {
                                 htmlAttributes = new { @class = "form-control", @placeholder = "Your Email *" }
                             })
                    @Html.ValidationMessageFor(model => model.message.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.message.phoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(Model => Model.message.phoneNumber, new
                             {
                                 htmlAttributes = new { @class = "form-control", @placeholder = "Your phone number *" }
                             })
                    @Html.ValidationMessageFor(model => model.message.phoneNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btnContact" value="Send Message" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.message.customerMessage, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                        <div class="row">
                            @Html.TextAreaFor(Model => Model.message.customerMessage, new
                       {
                           htmlAttributes = new { @class = "form-control", @placeholder = "Your Feedback *", @style = "width: 100%; height: 150px;" }
                           })
                            @Html.ValidationMessageFor(model => model.message.phoneNumber, "", new { @class = "text-danger" })
                            @if (ViewBag.messageSuc != null)
                            {
                                <br /><br /> <h3 style="color:palevioletred">@ViewBag.messageSuc</h3>}
                        </div>

                    </div>
                </div>
        </div>
        </div>
            }


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
