@model SuperDamp.Models.modelAdaptor

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create","FAQ")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var obj in Model.faqs)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <p class="card-text">@Html.DisplayFor(model => obj.Question)</p>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(model => obj.Answer)</p>
                </div>
                <div class="card-footer">

                    <a href="@Url.Action("Update","FAQ", new { id = obj.Id })" class="btn btn-danger mx-2 mb-1">Update</a>
                    <a href="@Url.Action("delete","FAQ", new { id = obj.Id })" class="btn btn-danger mx-2 mb-1">Delete</a>
                </div>
            </div>
        </div>




    }

</table>
